/* body */
.main {
  margin-top: 150px;
}

.main-content {
  background-color: #fff;
}

img {
  width: 100%;
  padding: 5px;
}

/* navigation */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.nav a {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.nav a: hover {
  color: blue;
}

.nav a:hover {
  background-color: #ddd;
}

.nav h1 a:hover {
  background-color: #fff;
}

.nav li {
  padding-top: 10px;
}

.nav li i {
  padding: 0 10px 0 0;
}

/* mobile navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (min-width: 1200px) {
  .mobile-hide {display: none;}
  .mobile-show {display: inline-block;}
}

@media (max-width: 1200px) {
  .mobile-hide {display: inline-block;}
  .mobile-show {display: none;}
  .main {margin-top: 100px;}
}
